﻿@model dynamic

@{
    ViewData["Title"] = "Test Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div id="TestPage">
    <form>
        @*<div id="tabs" class="tabsContainer">*@

        @*<div class="tabs">
            <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">HSSO Form</a>
            <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Privacy Form</a>
            <a v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'active' : '' ]">Other Form</a>
        </div>*@

        @*<div class="content">*@
        @*<div v-if="activetab === 1" class="tabcontent">
        First Name : <input title="Name" id="FName" type="text" />
        Last Name : <input title="Name" id="LName" type="text" />*@
        <div>
            First Name : <input required title="Name" id="FName" type="text" v-model="person.firstName" />
            Last Name : <input title="Name" id="LName" type="text" v-model="person.lastName" />
        </div>
        <div>
            <input type="radio" name="personType" value="1" v-model="person.personType"> Visitor
            <input type="radio" name="personType" value="2" v-model="person.personType"> Patient
            <input type="radio" name="personType" value="3" v-model="person.personType"> Staff
        </div>

        <div>
            <button class="btn btn-sm" type="submit" @@click="gretting()">
                Create a Staff
            </button>


            <button class="btn btn-sm">
                Create a User
            </button>
        </div>
        @*</div>*@
        @*<div v-if="activetab === 2" class="tabcontent">
            Content for tab two
        </div>
        <div v-if="activetab === 3" class="tabcontent">
            Content for tab three
        </div>*@
        @*</div>*@

        @*</div>*@
        <div>
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
        </div>
    </form>

</div>